/* add custom css here */

/* Colors
 - primary: #44c1e7 (blue)
 - secondary: #ff7d1b (orange)
*/

/* summary background image */
.book-summary ul.summary {
  position: relative;
}
/* place background image in meta element to be able to set opacity */
.book-summary ul.summary::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url('../images/logo-blue.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80%;
  z-index: -1;
  opacity: 0.075;
}
/* lower opacity for sepia and night mode */ 
.color-theme-1 .book-summary ul.summary::after,
.color-theme-2 .book-summary ul.summary::after {
  background-image: url('../images/logo-white.png');
}

/* Note blocks */
.note {
  background: #e7f2fa;
  padding: 12px;
  border-top: 28px solid #6ab0de;
}
.note.tip {
  border-top-color: #1abc9c;
  background: #dbfaf4;
}
.note.warning {
  border-top-color: #f0b37e;
  background: #ffedcc;
}
.note.danger {
  border-top-color: #f29f97;
  background: #fdf3f2;
}
.note::before {
  content: "Note";
  color: white;
  font-weight: bolder;
  display: block;
  position: relative;
  top: -39px;
  margin-bottom: -28px;
}